<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:appComponentFactory="androidx.core.app.CoreComponentFactory"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="LETTUCE LENS"
        android:roundIcon="@drawable/content_bg"
        android:supportsRtl="true"
        android:theme="@style/Theme.HomePage"
        android:usesCleartextTraffic="true"
        tools:replace="android:appComponentFactory"
        tools:targetApi="31">

        <meta-data
            android:name="my_meta_data"
            android:value="some_value" />

        <activity
            android:name=".SoilDetection"
            android:exported="false"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name="com.saurabh.lettucelens.pest_Detection"
            android:exported="false" />
        <activity
            android:name="com.saurabh.lettucelens.menupage"
            android:exported="false" />
        <activity
            android:name="com.saurabh.lettucelens.Authentication"
            android:exported="false" />
        <activity
            android:name="com.saurabh.lettucelens.CamActive"
            android:exported="false" />
        <activity
            android:name="com.saurabh.lettucelens.MainActivity"
            android:exported="false" /> <!-- ///////////////////////////////////////////////////////// -->
        <activity
            android:name="com.saurabh.lettucelens.AboutActivity"
            android:exported="false"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.saurabh.lettucelens.ContactusActivity"
            android:exported="false"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.saurabh.lettucelens.RegisterActivity"
            android:exported="false"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.saurabh.lettucelens.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.saurabh.lettucelens.ProfileActivity"
            android:exported="false"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.saurabh.lettucelens.Welcome"
            android:exported="false"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>